<main>
  <h1>Convertidor numérico</h1>
  <select [(ngModel)]="opciones">
    <option [value]="0">Convertir binario</option>
    <option [value]="1">Convertir decimal</option>
    <option [value]="2">Convertir hexadecimal</option>
  </select>

  <div *ngIf="opciones == 0">
    <input [(ngModel)]="entrada_binario">
    <button (click)="convertir_binario()">Convertir</button>
    <p> {{entrada_decimal}} </p>
    <p> {{entrada_hexadecimal}} </p>
  </div>

  <div *ngIf="opciones == 1">
    <input [(ngModel)]="entrada_decimal">
    <button (click)="convertir_decimal()">Convertir</button>
    <p>{{ entrada_binario }}</p>
    <p> {{entrada_hexadecimal}} </p>
  </div>

  <div *ngIf="opciones == 2">
    <input [(ngModel)]="entrada_hexadecimal">

    <button (click)="convertir_hexadecimal()">Hexadecimal</button>

    <p>{{ entrada_binario }}</p>
    <p> {{entrada_decimal}} </p>
  
  </div>
</main>